*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    margin: 0;
}
a{
    color: white;
    text-decoration: none;
}
header{
    background-image: url("bg1.png");
    min-height: 100vh;
    background-size: cover;
   background-position: center center;
}
.container{
    width: 1000px;
    
    max-width: 100%;
    padding: 1rem;
    margin:  auto;
}

.pre-nav{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;

}
.logo{
    color: #026E78;
    font-weight: bold;
    font-size: 2rem;
}
nav ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
nav li{
    flex: 1 auto;
}
nav li a{
    background-color: #2099A4;
    padding: 1rem 2rem;
    display: block;
    text-align: center;
}
nav a.active{
    background-color: white;
    color: #026e78;
    font-weight: bold;
}
nav a.highlight{
    background-color:#026e78 ;
    color: white;
}
nav a:hover{
    opacity: 0.9;
}

/* content style */
.content{
    margin-top: 5rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.content h1{
    background-color:#026e78;
    color: white;
    padding: 0.5rem;
    font-weight: 170;
    display: inline-block;
    
}
.white-link{
    background-color: white;
    color: #2d99a4;
    padding: 1rem;
    margin-top: 0.5rem;

}

.teal-link{
    background-color: #2d99a4;
    color: white;
    padding: 0.7rem;
    margin-top: 1rem;
}
@media screen and (max-width:760px){
    .pre-nav{
        flex-direction: column;
        justify-content: center;
    }
    nav{

    }
    .content{
        font-size: 1.2rem;

    }
    
}

